<h1>Ideas Index</h1>


<div class="row">
<% @ideas.each do | idea |%>
	<div class="col-sm-6 col-md-4 col-lg-3">
	<p> 
	<%= link_to idea.name, idea_path(idea) %>
	</p>

	<% if idea.photos.first %>
		<td><%= image_tag(idea.photos.first.id.to_s + "/" + idea.photos.first.image_file_name)%></td>
	<% else %>
		<img src="<%= asset_path( 'default-image.png' ) %>" >
	<% end %>


	</div>
<% end %>
</div>

<div>
<p> <%= link_to 'add an idea', new_idea_path %> </p>
</div>
