

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">    

    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">WRB <%= @user.first_name %>,</h1>
                        <p class="intro-text">I'm House Mom, your comprehensive fraternity organizer.
                        <br/><br/><br/><br/>
                        <a href="#calendar" class="btn btn-circle page-scroll">
                            <i class="fa fa-calendar fa-4x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

   

    <!-- Google Calendar -->
   <section id="calendar" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            	<h2>Social Calendar</h2>
    			<iframe src="https://www.google.com/calendar/embed?src=umich.edu_s4us08j55ovlqdq1c0m8j8ut74%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
    		</div>
    	</div>

    
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; House Mom 2015</p>
        </div>
    </footer>
		</div>
	</div>
</div>