<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<H1>Hello, <%= @user.first_name %>. </H1>

			<iframe src="https://www.google.com/calendar/embed?src=umich.edu_s4us08j55ovlqdq1c0m8j8ut74%40group.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>
</div>