<h1>Store</h1>

<h1> Items: </h1>
<div class="row">
<% @items.each do | item |%>
	<div class="col-sm-6 col-md-4 col-lg-3">
	<p> 
	<%= link_to item.name, item_path(item) %>
	</p>
	</div>
<% end %>
</div>
