<h1>Store</h1>

<div class="row row-centered">
<% @items.each do | item |%>
	<div class="col-sm-3 col-centered item-image-box">
		<p> <%= link_to item.name, item_path(item) %> </p>
		<% if item.photos.first %>
			<td><%= image_tag((item.photos.first.id.to_s + "/" + item.photos.first.image_file_name), height: 300, width: 300) %></td>
		<% else %>
			<img src="<%= asset_path( 'default-image.png' ) %>" height="300px" width="300px" >
		<% end %>


	</div>
<% end %>
</div>
