// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 .photo_align{
 	text-align: center;
 }


 img{
 	height: 250px;
 	max-width: 300px;
 	width: auto;
 	padding: 20px;
 }

h1{
	text-align: center;
}