<h1>	 Restricted Events </h1>
<h2>	 Criteria </h2>
<h3>	 Event takes place on chapter property.</h3> 
<h3> Alcohol is present. </h3>
<h3>	 The number of women in attendance exceeds 25 (twenty-five) persons. </h3>
<h2> Events that meet the above criteria and are sponsored by an organization other than the property owners/renters will be treated as Restricted Events. </h2>
<h2>	 Restricted Events are subject to SRC (Social Responsibility Committee) and
GARP (Greek Activities Review Panel) action. </h2>