<style type="text/css">
	h3{
		font-size: 14px;
		font-style: italic;
		margin-left: 15px;
	}

</style>
<br>
<br>
<h1>Restricted Event Size</h1>
<h2>	 Tier I </h2>
<h3>	 Tier I Events are limited to 50 people plus live-in and active membership of the
hosting chapter.</h3>
<h3>	 Event is restricted to active members of the hosting chapter and of the visiting
chapter, and the 25 individuals listed on the supplemental guest list.
<h2>	 Tier II </h2>
<h3>	 Tier II Events are limited to 100 people plus live-in and active membership of the
hosting chapter.</h3>
<h3>	 Event is restricted to active members of the hosting chapter, and of the visiting
chapter, and the 50 individuals listed on the supplemental guest list.
<h2>	 Tier III A </h2>
<h3>	 Tier III Events are limited to 200 people plus live-in and active membership of the
hosting chapter. </h3>
<h3>	 Event is restricted to active members of the hosting chapter, and of the two
visiting chapters, and the 75 individuals on the supplemental guest list. </h3>
<h2>	 Tier III B</h2>
<h3>	 Tier III Events are limited to 200 people plus live-in and active membership of the
hosting chapter.</h3>
<h3>	 Event is restricted to active members of the hosting chapter and the 75 individuals
on the supplemental guest list.</h3>
<h3>	 Event does not involve visiting chapters. </h3>
<h2>	 Tier III C </h2>
<h3>	 Tier III Events are limitited to 200 people plus active members of Co-Sponsoring
Fraternities.</h3>
<h3> Event is restricted to active members of the Co-Sponsoring chapters and the 75
individuals on the supplemental guest list. </h3>
<h3>	 Event involves a Co-Sponsoring Fraternity that will be held jointly liable for the
event.</h3>
<h2>	 Tier IV A</h2>
<h3>	 Tier IV Events are limited to 400 people including live-in and active membership
of the hosting chapter.</h3>
<h3>	 Event is restricted to active members of the hosting chapter and the 100
individuals on the supplemental guest list.</h3>
<h3>	 Event does not involve visiting chapters.</h3>
<h2>	 Tier IV B</h2>
<h3>	 Tier IV Events are limited to 400 people including active members of CoSponsoring
Fraternities.</h3>
<h3>	 Event is restricted to active members of the hosting chapter and the 100
individuals on the supplemental guest list.</h3>
<h3>	 Event involves a Co-Sponsoring Fraternity that will be held jointly liable for the
event. </h3>